<form #formationForm="ngForm" (ngSubmit)="add(formationForm)">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="title" id="title" [(ngModel)]="formation.title">
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" type="text" name="description" id="description" placeholder="description" [(ngModel)]="formation.description">
  </div>
  <button type="submit" class="btn-primary">Submit</button>
  <button type="reset" class="btn-primary">Reset</button>
  <button type="search" class="btn-primary">Search</button>
</form>

<pre>{{formationForm.value | json}}

<form [formGroup]="formationFormRx" (ngSubmit)="addForm()">
  <div class="form-group" [ngClass]="{'has-error':!formationFormRx.controls['title'].valid && formationFormRx.controls['title'].touched}">
   <label for="title">Title</label> 
   <input class="form-control" type="text" name="title" id="title" formControlName="title">
   </div>
   <div class="form-group">
  <label for="description">Description</label> 
  <input class="form-control" type="text" name="description" id="description" formControlName="description">
   </div>
  <button type="submit" class="btn-primary" [disabled]="!formationFormRx.valid">Submit</button>
  </form>

